.films-list {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 4rem;
  align-items: center;
  justify-content: center;
}


.film-item h2 {
  font-size: 25px;
}

.film-item h2 a {
  text-decoration: none;
}

.rat-div {
  background: #621b1b;
  padding: 5px 8px;
  color: #fff;
  font-weight: bold;
}